/* start global classes */
:root {
  /* body bg color */
  --bodyColor: #ffffff;

  /* box bg color */
  --boxColor: #eff0ef;

  /* brand color */
  --brand-color: #000000;

  /* Primary Text Color */
  --primaryColor: black;

  /* title 2 Color (subtitle-color) */
  --title-2-color: hwb(0 15% 81%);

  /* Secondary Text Color */
  --secendaryColor: #5e5e5e;

  /* border radius */
  --border-radius: 5px;
}


/* Home Slider Styles */
.home-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-item {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure content stays within bounds */
}

.slider-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.747); /* Adjusted opacity to 50% */
  z-index: 1; /* Ensure it sits above the background but below the text */
}

.container {
  position: relative;
  z-index: 2; /* Keep text above the overlay */
}


.slider-text {
  color: #fff;
  text-align: left;
}

.slider-text h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.slider-text p {
  font-size: 25px;
  line-height: 1.6;
  margin-bottom: 20px;
}

h5 {
  text-align: center;
}


/* Responsive Design */
@media (max-width: 768px) {
  .slider-text h1 {
    font-size: 45px;
  }

  .slider-text p {
    font-size: 20px;
  }
}

body {
  color: white;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  font-family: 'Outfit';
  color: var(--primaryColor);
  background-color: var(--bodyColor);
  text-align: center;
  position: relative;
  overflow-x: hidden;

}

/* Start Header Style */
header {
  color: rgb(0, 0, 0);
  padding: 30px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background-color: var(--boxColor) ;
  box-shadow: none;
}


/* Adding the overlay */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  z-index: -2; /* Ensures it stays behind the content */
}



/* Box Styles */
.home-box {
  display: flex; /* Enable Flexbox */
  flex-direction: row; /* Arrange items horizontally */
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the start */
  text-align: left; /* Align text to the left */
  width: 60%; 
  max-width: 800px; /* Prevent the box from becoming too wide */
  padding: 20px;
  background: #eff0ef;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  gap: 30px; /* Add space between the image and text */
}

.home-box1 {
  display: flex; /* Correct 'display' for flexbox */
  flex-direction: row; /* Arrange items horizontally */
  align-items: start; /* Align items to the start vertically */
  justify-content: flex-start; /* Align items to the start horizontally */
  text-align: left; /* Align text to the left */
  width: 99%; 
  max-width: 999px; /* Prevent the box from becoming too wide */
  padding: 20px;
  background: #eff0ef;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  gap: 30px; /* Add space between the image and text */
  z-index: 1; /* Set a positive z-index */
}

.dropdown-menu {
  position: absolute; /* Ensure the dropdown appears above other elements */
  z-index: 1050; /* Higher z-index to appear above other content */
}


/* Profile Image */
.home-box img {
  width: 150px; /* Adjust the image size */
  height: 150px; /* Ensure the image is square */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Crop image to fit */
}

/* Content */
.home-content {
  flex: 1; /* Allow the content to take the remaining space */
}
.home-content1 {
  flex: 1; /* Allow the content to take the remaining space */
}

.home-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #302e2e;
  animation: glow 1.5s infinite alternate;
}

.home-content1 h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #302e2e;
  animation: glow 1.5s infinite alternate;
}

.home-content p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #666;
}

/* Why Choosing Us */

section.why-us {
  background-image: url(../images/choosing-bg.jpg);
  background-color: var(--boxColor);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  text-align: center;
}

.tabs-content {
  margin-top: 60px;
  text-align: left;
}

@media screen and (max-width: 767px) {

.tabs-content {
    text-align: center;
}

}


/* Social Icons */
.social-icons {
  margin-top: 1rem;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: 0.2rem solid transparent;
  font-size: 2rem;
  border-radius: 50%;
  margin: 0rem;
  color: #000000;
}

.social-icons a:hover {
  color: #000000;
}

/* Responsive Design */
@media (max-width: 465px) {
  .home-box {
    width: 95%;
  }
  .home-box1 {
    width: 95%;
  }
}
@media (max-width: 995px) {
  .home-box {
    width: 95%;
    gap: 20px; /* Adjust the gap for medium screens */
  }
  
  .home-box1 {
    width: 95%;
    gap: 20px; /* Adjust the gap for medium screens */
  }

  .home-content h1 {
    font-size: 1rem;
  }
   
  .home-content1 h1 {
    font-size: 2rem;
  }  

  .home-content p {
    font-size: 1rem;
  }

  .social-icons a {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
 .home-content1 h8 {
    font-size: 22px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .home-box {
    flex-direction: row;/* Stack image and content vertically */
    width: 95%;
    padding: 15px;
    text-align: center; /* Center-align text on smaller screens */
  }
  .home-box1 {
    flex-direction: column;/* Stack image and content vertically */
    width: 95%;
    padding: 15px;
    text-align: center; /* Center-align text on smaller screens */
  }

  .home-img {
    width: 120px;
  }
  .home-img1 {
    width: 120px;
  }

  .home-content h1 {
    font-size: 1.8rem;
  }
  
  .home-content p {
    font-size: 1rem;
  }

  .social-icons a {
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    margin: 0.3rem 0.0rem;
    margin-top: -120px;
  }
}



body {
  padding-top: 18px;
  text-align: center;
}
/* End Header Style */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body.home-rtl {
  font-family: Outfit;
}
::selection {
  color: var(--bodyColor);
  background-color: var(--brand-color);
}

.title {
  color: var(--primaryColor);
  font-size: 32px;
  font-weight: bold;
  position: relative;
}
.title-2 {
  color: var(--title-2-color);
  font-size: 26px;
  font-weight: bold;
  position: relative;
}
.header {
  color: #ffffff ;
  font-size: 25px;
  font-weight: bold;
  position: center;
}
.pretitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: var(--brand-color);
}

.unique-text {
  color: var(--brand-color);
}


/* Base styles for images */
img {
  max-width: 100%;
  height: auto;
  z-index: 1; /* Set a low z-index for the image */
  position: relative; /* Ensure proper layering */
  
}
.hero-img {
  padding-top: -50px;
}

/* Additional styling for mobile */
@media (max-width: 768px) {
  /* Adjust non-hero images */
  .container img:not(.hero-img) {
      max-width: 100%; /* Make images take full width */
      height: auto; /* Maintain aspect ratio */
      margin-top: 15px;
      margin-bottom: 15px; /* Optional: Add some space below each image */
  }
}


body.home-rtl .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  text-align: end;
}

body.home-rtl .heading > * {
  justify-self: end;
  text-align: end;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.box {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: .9px solid #000000; /* 5px solid black border */
  border-radius: var(--border-radius);
  position: relative;
  height: 100%;
  z-index: 1;
  transition: transform 300ms ease-in-out, color 300ms ease-in-out; /* Add transform transition for zoom effect */
}

.box.box-hover:hover,
.box.box-hover:focus {
  transform: scale(0.99); /* Slight zoom-in effect */
  background-color: #eff0ef;
}

.box.box-hover:hover > p {
  color: #eff0ef /* Optional: change paragraph color on hover */
}

.home-rtl .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: .5rem 2 rem;
  background-color: rgb(226, 158, 10);
  border-radius: 50px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  max-width: 300px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .btn {
    padding: 6px 18px;
    font-size: 17px;
  }

  .title {
    font-size: 32px;
  }

  .title-2 {
    font-size: 20px;
  }

  .pretitle {
    font-size: 14px;
  }

  p {
    font-size: 20;
    line-height: 28;
  }
}

p {
  color: var(--secendaryColor);
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

h7 {
  color: rgb(226, 158, 10);
  font-size: 40px;
  font-weight: bolder;
  margin-top: 15px;
  text-align: center;
}

h8 {
  color: rgb(226, 158, 10);
  font-size: 26px;
  font-weight: bolder;
  justify-content: center;
  margin-top: 15px;
  text-align: center;
}
h9 {
  color: white;
  font-size: 28px;
  font-weight: bolder;
  margin-top: 15px;
  text-align: center;
}
h10 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  margin-top: 15px;
  text-align: center;
}

h6 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
p1 {
  color: white;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  width: 20%;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

.custom-text {
  text-align: center; /* Center the text */
  width: 100%; /* Full width by default */
}

/* On desktop, reduce the width */
@media (min-width: 768px) {
  .custom-text {
    width: 76%; /* Adjust the width to 60% on larger screens */
  }
}

.custom-text2 {
  text-align: center; /* Center the text */
  width: 100%; /* Full width by default */
}

/* On desktop, reduce the width */
@media (min-width: 768px) {
  .custom-text2 {
    width: 80%; /* Adjust the width to 60% on larger screens */
  }
}
/* end global classes */

/*================== start navbar section ==================*/
.navbar {
  z-index: 900;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  border: none;
  box-shadow: none !important;
}

@media (max-width: 990px) {
  .navbar .dropdown-menu {
    max-height: 75vh; /* Limit the height to 75% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .navbar .dropdown-menu {
    max-height: 50vh; /* Limit the height to 50% of the viewport height in landscape mode */
    overflow-y: auto; /* Enable vertical scrolling */
  }
}

@media (max-width: 990px) {
  .navbar {
    background-color: var(--boxColor);
  }

  .home-rtl .navbar #navbar {
    display: flex;
    flex-direction: column !important;
  }
}

.navbar #menu {
  color: black;
  font-size: 20px;
}

.navbar .logo {
  width: 9rem;
}
.navbar-brand {
  color: black;
}

.navbar.sticky {
  background-color: var(--boxColor);
  transition: 1s;
}

.navbar ul li a:focus {
  background-color: transparent;
}

.navbar ul li a {
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  color: black !important;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--brand-color) !important;
}

.navbar .dropdown-menu {
  background-color: var(--boxColor) !important;
}

.navbar .dropdown-menu .dropdown-item {
  color: black;
  background-color: var(--boxColor);
}
.nav-item {
  font-size: 20px;
}
/*================== End navbar section ==================*/
/*================== start hero section ==================*/

.hero {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 3rem;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 4px;
  margin-bottom: 4px;
  display: none;
}

.home-3 .hero {
  min-height: 150vh !important;
}

@media (max-width: 990px) {
  .home-1 .hero,
  .home-3 .hero,
  .home-rtl .hero {
    margin-top: 55px;
  }
}

.hero .hero-text .title {
  line-height: 65px;
  font-size: 45px;
}

.hero .hero-icons a {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--boxColor);
}
.hero .hero-icons a:hover {
  background-color: var(--brand-color);
}

.hero .hero-icons a:hover > i {
  color: var(--boxColor);
}

.hero .hero-icons i {
  font-size: 20px;
  color: var(--secendaryColor);
  cursor: pointer;
}

@media (max-width: 990px) {
  .hero .hero-text .title {
    line-height: 65px;
    font-size: 40px;
  }
}

/*================== end hero section =====================*/

/*============== Start Services section ==========*/
.box-service .box-icon i {
  color: #000000;
  font-size: 2rem;
}

.home-2 .box-service {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-rtl .box-service {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.services .box-service a {
  display: flex;
  align-items: baseline;
}

.services .box-service a i {
  font-size: 18px;
  margin: 0 5px;
}
.contact-map {
  width: 100%;
  height: 300px;
  margin-top: 5rem;
}

/*============== Start Footer section ==========*/
.footer-basic {
  padding: 20px;
  background-color: var(--boxColor);
  color: #272727;
  text-align: center;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 10px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: inherit;
  opacity: 100%;
  margin: 10px 1px;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .list-inline {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-basic .list-inline-item {
  padding: 0 10px;
}

.footer-basic .list-inline-item a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic .list-inline-item a:hover {
  opacity: 1;
}

.footer-basic p {
  margin: 0;
  padding-top: 10px;
  font-size: 13px;
  color: #aaa;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  text-align:center;
  font-size:13px;
  color:#383131;
  margin-bottom:0;
}
/*============== End Footer section ==========*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .hero {
    padding: 20px;
    text-align: start;
  }
  .hero-text h2 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 20px;
  }

  /* Service boxes */
  .services .box {
    margin-bottom: 20px;
  }

  .heading h2 {
    font-size: 28px;
  }

  .about-me h3, .about-me h6 {
    text-align: center;
    font-size: 16px;
  }

  /* Contact section */
  .contact-info h2, .contact-info h5 {
    font-size: 16px;
  }

  /* Footer adjustments */
  .footer {
    padding: 30px 20px;
    text-align: center;
  }

  .footer .icon a {
    font-size: 24px;
  }

  .social, .details ul, .services ul {
    justify-content: center;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column;
}

  /* Footer text */
  .footer p {
    font-size: 14px;
  }

  .footer h4 {
    font-size: 18px;
  }

